<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" [routerLink] = "['/dashboard']">Dashboard </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" [routerLink] = "['/my-page']">My page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink] = "['/users']">Users</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink] = "['/login']" style="color:black">Log out</a>
                </li>
              </ul>
        </div>
        <div class="col-md-8">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor ea possimus ipsum quaerat beatae aperiam consectetur? Ex omnis neque dicta vel deleniti id aliquam, culpa quos excepturi, illo unde veritatis aspernatur. Quod harum laboriosam minus. Accusamus aliquid, blanditiis, vel provident mollitia pariatur perferendis sit dolorem molestiae dolores doloremque molestias iure laudantium praesentium et harum tenetur nihil? Pariatur, dolorem? Molestias molestiae reiciendis sapiente est animi! Ea officiis at doloribus, voluptates corporis necessitatibus aliquid dicta nemo sit, fugiat reprehenderit! Itaque vitae fuga distinctio maiores quo asperiores, esse nesciunt cupiditate? Officia cupiditate quisquam perferendis consequatur voluptate veniam? Sit odit dolorum ipsum similique qui?</p>
        </div>
    </div>
</div>