
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" [routerLink] = "['/dashboard']">Dashboard </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" [routerLink] = "['/my-page']">My page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink] = "['/users']">Users</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink] = "['/login']" (click)="deleteStorage()" style="color:black">Log out</a>
                </li>
              </ul>
        </div>
        <div class="col-md-8">
            <div class="newBtn">
                <button class="btn btn-success"(click)="openModal(template)">Add new user</button>
            </div>
            <ng-template #template>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Add new user</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form #newUserAdmForm = 'ngForm' (ngSubmit) = addUser() *ngIf="ifAdmin">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name:</label>
                            <input type="text" 
                                class="form-control"  
                                [(ngModel)]="newUserAdm.name" 
                                required 
                                #name='ngModel'
                                pattern="^[a-zA-Z]{1,23}$"
                                name="newNameAdm">
                        </div>
                        <div *ngIf="name.invalid && name.touched">
                            <small> Name invalid</small>
                        </div>
                        <div class="form-group">
                            <label>Username:</label>
                            <input type="text" 
                                class="form-control"  
                                [(ngModel)]="newUserAdm.username" 
                                required 
                                #name='ngModel'
                                pattern="^[a-zA-Z]{1,23}$"
                                name="newUserNameAdm">
                        </div>
                        <div *ngIf="newUserNameAdm.invalid && newUserNameAdm.touched">
                            <small> Username invalid</small>
                        </div>
                        <div class="form-group">
                            <label>Email:</label>
                            <input type="email" 
                                class="form-control" 
                                name="newEmailAdm" 
                                [(ngModel)]="newUserAdm.email"
                                pattern="[^@]+@[^\.]+\..+"
                                #email='ngModel'
                                required>
                        </div>
                        <div *ngIf="email.invalid && email.touched">
                            <small> Email invalid</small>
                        </div>
                        <div class="form-group">
                            <label>Password:</label>
                            <input type="password" 
                                class="form-control" 
                                name="newPasswordAdm" 
                                [(ngModel)]="newUserAdm.password"
                                required
                                minlength="5"
                                #password='ngModel'>
                        </div>
                        <div *ngIf="password.invalid && password.touched">
                            <small> Password invalid</small>
                        </div>
                        <div>
                          <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio1" value = 'user' name='role' [(ngModel)]="role" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio1">User</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" value = 'admin' name='role' [(ngModel)]="role" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio2">Admin</label>
                          </div>
                        </div>
                        <div class="newBtn">
                            <button type="submit" 
                                [disabled] = 'newUserAdmForm.invalid' 
                                class="btn btn-warning"
                                (click)="modalRef.hide()">Add</button>
                        </div>
                    </div>
                </form>
                <form #newUserUserForm = 'ngForm' *ngIf="ifUser" (ngSubmit) = addUser()>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name:</label>
                            <input type="text" 
                                class="form-control"  
                                [(ngModel)]="newUserUser.name" 
                                required 
                                #name='ngModel'
                                pattern="^[a-zA-Z]{1,23}$"
                                name="newNameUser">
                        </div>
                        <div *ngIf="name.invalid && name.touched">
                            <small> Name invalid</small>
                        </div>
                        <div class="form-group">
                            <label>Username:</label>
                            <input type="text" 
                                class="form-control"  
                                [(ngModel)]="newUserUser.username" 
                                required 
                                #name='ngModel'
                                pattern="^[a-zA-Z]{1,23}$"
                                name="newUserNameUser">
                        </div>
                        <div *ngIf="newUserNameUser.invalid && newUserNameUser.touched">
                            <small> Username invalid</small>
                        </div>
                        <div class="form-group">
                            <label>Email:</label>
                            <input type="email" 
                                class="form-control" 
                                name="newEmailUser" 
                                [(ngModel)]="newUserUser.email"
                                pattern="[^@]+@[^\.]+\..+"
                                #email='ngModel'
                                required>
                        </div>
                        <div *ngIf="email.invalid && email.touched">
                            <small> Email invalid</small>
                        </div>
                        <div class="form-group">
                            <label>Password:</label>
                            <input type="password" 
                                class="form-control" 
                                name="newPasswordUser" 
                                [(ngModel)]="newUserUser.password"
                                required
                                minlength="5"
                                #password='ngModel'>
                        </div>
                        <div *ngIf="password.invalid && password.touched">
                            <small> Password invalid</small>
                        </div>
                        <div class="newBtn">
                            <button type="submit" 
                                [disabled] = 'newUserUserForm.invalid' 
                                class="btn btn-warning"
                                (click)="modalRef.hide()">Add</button>
                        </div>
                    </div>
                </form>
              </ng-template>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Updated at</th>
                    <th *ngIf="ifAdmin" scope="col">Edit</th>
                    <th *ngIf="ifAdmin" scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let user of users">
                    <th>{{user.id}}</th>
                    <td>{{user.name}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.createdAt | date:'yyyy/LL/dd'}}</td>
                    <td>{{user.updatedAt | date:'yyyy/LL/dd'}}</td>
                    <td *ngIf="ifAdmin"><button class="btn btn-warning" (click)="openModalEdit(edit, user)">Edit</button></td>
                    <ng-template #edit>
                      <div class="modal-header">
                        <h4 class="modal-title pull-left">Edit </h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="form-group">
                          <label for="name1">Name:</label>
                          <input type="text" class="form-control" id="name1" [(ngModel)]="editName" name="editName">
                        </div>
                        <div class="form-group">
                          <label for="usname1">Username:</label>
                          <input type="text" class="form-control" id="usname1" [(ngModel)]="edituserName" name="edituserName">
                        </div>
                        <div class="form-group">
                          <label for="email1">Email:</label>
                          <input type="email" class="form-control" id="email1" [(ngModel)]="editEmail" name="editEmail">
                        </div>
                        <div>
                          <button class="btn btn-light" (click)="modalRef2.hide()">Cancel</button>
                          <button class="btn btn-dark" (click)="saveEdit()">Save</button>
                        </div>
                      </div>
                    </ng-template>
                    <td *ngIf="ifAdmin"><button class="btn btn-danger" (click)="openModalDel(del, user)">Delete</button></td>
                    <ng-template #del>
                      <div class="modal-header">
                        <h4 class="modal-title pull-left" style="text-align: center;">Are you sure?</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef3.hide()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <button class="btn btn-danger" (click)="deleteUser()">Yes</button>
                        <button class="btn btn-dark" (click)="modalRef3.hide()">No</button>
                      </div>
                    </ng-template>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

